* {
    margin: 0;
    padding: 0;
    /* background: #F3F5FC; */
}

body {
    background: #F3F5FC;
}

.logo {
    margin-top: 40px;
    margin-left: 40px;
    
}

.contenedor {
    display: flex;
}

.textoIngresado {
    width: 577px;
    height: 48px;
    margin-top: 168px;
    margin-left: 240px;
    position: absolute;
    border: none;
    background: none;
}

input::placeholder {
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

}

.boton-encriptar {
    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;

    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

}

.boton-desencriptar {
    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.rectangulo {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muñeco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 30px;
    top: 283px;
    background: none;
}

.cajaTextos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 30px;
    top: 619px;
    background: none;
}

.texto1 {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto2 {
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    text-align: center;
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}